<div class="container-fluid grid-container">
    <div class="row">
        <div id='gridItem' [class]="'col-' + (12/totalDeck) + ' grid-item fly col-xl-' + (12/totalDeck)" *ngFor='let item of items' (click)='checkClick(hidden)'>
            <div class="particles-button" style="margin-top: 40%;" *ngIf='item == gridNumber' libParticleEffectButton (pComplete)="randomNumberGenerator()" pType="triangle" pEeasing="easeOutSine" [pSize]="7" pDuration="50" pParticlesAmountCoefficient="7" [pSpeed]="5"
                pOscillationCoefficient="10" [pHidden]="hidden">
                <div class="cat" (click)="hidden=!hidden;catClicked(item)">
                    <div class="ear ear--left"></div>
                    <div class="ear ear--right"></div>
                    <div class="face">
                        <div class="eye eye--left">
                            <div class="eye-pupil"></div>
                        </div>
                        <div class="eye eye--right">
                            <div class="eye-pupil"></div>
                        </div>
                        <div class="muzzle"></div>
                    </div>
                </div>
            </div>

            <div class="dog" *ngIf='item == dogNumber'>
                <div class="dog-body">
                    <div class="dog-tail">
                        <div class="dog-tail">
                            <div class="dog-tail">
                                <div class="dog-tail">
                                    <div class="dog-tail">
                                        <div class="dog-tail">
                                            <div class="dog-tail">
                                                <div class="dog-tail"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dog-torso"></div>
                <div class="dog-head">
                    <div class="dog-ears">
                        <div class="dog-ear"></div>
                        <div class="dog-ear"></div>
                    </div>
                    <div class="dog-eyes">
                        <div class="dog-eye"></div>
                        <div class="dog-eye"></div>
                    </div>
                    <div class="dog-muzzle">
                        <div class="dog-tongue"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'" style="position: absolute;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
                <!-- <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button> -->
            </div>

            <div class="flex-container" *ngIf='buttonText === "Start"'>
                <div style="flex-grow: 1"><label> Enter name </label> </div>
                <div style="flex-grow: 1"> <input type="text" required id='name'></div>
            </div>
            <div class="flex-container" *ngIf='buttonText !== "Start"'>

                <div style="flex-grow: 1"><label>   {{ content }} </label> <br> <label *ngIf='name != ""'>   {{lastHighScore ? ' HighScore :' + lastHighScore : ''}} </label> </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()">{{buttonText}}</button>
            </div>

        </div>
    </div>